@font-face {
    font-family: MyHelvetica;
    src: local("Helvetica Neue Bold"),
    local("HelveticaNeue-Bold"),
    url(AlexBrush-Regular.ttf);
    font-weight: bold;
}
@font-face {
    font-family: MyGoogle;
    src: local("Helvetica Neue Bold"),
    local("HelveticaNeue-Bold"),
    url(BalooDa-Regular.ttf);
    font-weight: bold;
}
.squirrell{
    font-family: 'MyHelvetica';
}

.google{
    font-family: 'MyGoogle';
}