body{
    background: url("../2.3/paper.gif") repeat;
}
li{
    background: url("../2.3/w3css.gif") no-repeat;
}
h1,h2,h3{
    background: #d4d4d4;
}
#rubrikimg{
    background: url("../2.3/img_flwr.gif") no-repeat;
}
#cssimg {
    background: url("../2.3/w3css.gif") repeat;
    height: 200px;
    width: 200px;
}
#jennie{
    float: left;
    margin-right: 10px;
}
code{
    background: #ffffff;
}
#bildtext1 h1,h2,h3,h4,h5,h6{
    clear: both;
}
#bildtext1 p:first-of-type{
    max-width: 300px;
    float:left;
}