#foo{
    width: 200px;
    min-height: 200px;
    background-color: red;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#foo:hover{
    width: 300px;
    background-color: white;
}

*{
    background-color: black;
}