html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
}
form{
    background:#aaa;
    border: 3px solid #0000aa;
    width: 170px;
    position:relative;
    float:left;
    margin-left: 50px;
}
input,label{
    width:150px;
}
section,aside{
   /* padding:0px;*/
    background: #aaa;
    text-align: center;
}
aside{
    position:relative;
    float:left;
    margin-left: 100px;
    border: 3px solid #0000aa;
    width: 400px;
    height: 300px;
}
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}
