table {
    border-collapse: separate;
    width: 100%;
    border: 1px solid black;
}

td {
    border: 1px solid #2e6da4;
}

table.auto {
    table-layout: auto;
}

table.fixed {
    table-layout: fixed;
}